DB_URL=jdbc:mysql://localhost:3307/steam_clone_db?useSSL=false&serverTimezone=UTC&createDatabaseIfNotExist=true&allowPublicKeyRetrieval=true
DB_USERNAME=root
DB_PASSWORD=root
JWT_SECRET=ZGV2LXNlY3JldC1jaGFuZ2UtbWUtMzItYnl0ZXMtbWluaW11bS1rZXk=

MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=steamdb
MYSQL_USER=user
MYSQL_PASSWORD=password
